body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #868686;
}

.calculator {
  background-color: #0D1629;
  padding: 25px;
  width: 240px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.designer {
  font-size: 14px;
  color: #0D0D0D;
  margin-top: 5px;
}

.display {
  margin-bottom: 15px;
}

.display input {
  width: 100%;
  font-size: 24px;
  padding: 5px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  color: #FFFFFF;
}

.buttons button {
  font-size: 18px;
  padding: 14px 8px ;
  background-color: #003366;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.ac {
 background-color: #148F1C;
 color: white;
}

.del 
{background-color: #148F1C;
 color: white;
}

.eq{
   background-color: white;
   color:white;
}

.buttons button:hover {
  background-color: #e0e0e0;
}


